---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
  <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <style>
    p {
      text-align: justify;
    }
  </style>
</head>
<div class="container" style = "width: 70%">
  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}</p>
  {% for tag in page.tags %}
  <span class="badge badge-primary">{{tag}}</span>
  {% endfor %}
  <hr>
  {{ content }}
</div>